/assents
/build
/RoboGame/Content/Elite_Landscapes
/RoboGame/Saved
/RoboGame/Content/BlinkAndDashVFX
/RoboGame/Content/SoulCave
/RoboGame/Content/CharacterBodyFX
/RoboGame/Content/MetaHumans
/RoboGame/Binaries
/RoboGame/Intermediate/Build